<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature of city</title>
    <!-- Css of bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

     <!-- Javascript of bootstrap-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
        h2{
            display: inline-block;
            color:rgb(43, 226, 116);
            padding:4px;
           margin-bottom:2vw;
           border-bottom: 1px dashed grey;
        }
        p{
            font-size: 1.5vw;
        }
        @media only screen and (max-width:850px){
           h4{
            font-weight: 100;
            font-size: 2vw;
           }
           p{
            font-size:3vw;
           }
        }
        
    </style>
</head>
<body>
    
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-200 p-5 text-bg-dark">
                <h2 > Whether Information</h2>
                <br>
               
                <p style="display: inline">The temperature in  <%= city %>  is  <%= temp %> (degree) with having nature of <%=desc %> .</p>
                <img src="<%= urlIcon%>">
                <br>
                <br>
                <p>✔️ Thanks a lot! 🙌 <br>You can now close this window.</p>
            </div>
        </div>

    </div>
</body>
</html>